.navbar-container {
  margin-top: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 90%;
  height: 80px;
  border-radius: 13px;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  z-index: 9999;
}
.navbar-logo {
  color: #222;
  font-size: 2rem;
  cursor: pointer;
}

.menu-icons {
  display: flex;
  align-items: center;
}

.menu-icons .MuiSvgIcon-root {
  cursor: pointer;
}

.nav-menu-items {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-menu-items li {
  margin-right: 10px;
}

.nav-menu-items a {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.nav-menu-icon {
  margin-right: 5px;
}

.nav-menu-items li:hover {
  background-color: #01959a;
  color: white;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.menu-icons {
  display: none;
}
.nav-links-mobile {
  display: none;
}

@media screen and (max-width: 850px) {
  .menu-icons {
    display: flex;
  }
  .navbar {
    z-index: 99;
  }
  .nav-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    left: 0;
    opacity: 0;
    align-items: stretch;
    padding: 30px 0;
    margin: 0;
    transition: 0.3s ease-in-out;
    border-radius: 30px;
  }
  .nav-menu-items.active {
    margin-top: 8%;
    opacity: 1;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
  .nav-menu-items li {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }
  .nav-menu-items li:hover {
    background-color: #01959a;
    color: white;
    transition: none;
  }
  .nav-links-mobile {
    display: block;
  }
}
